@page
@model Pages_DanosGlobais
@{
    ViewData["Title"] = "Danos Globais";
}
<div class="menu">
    <h2 class="texto">Propostas Globais para Reverter o Aquecimento Global</h2>
    <p class="texto">Aqui estão algumas das iniciativas globais para combater o aquecimento global:</p>

    <ul class="texto">
        <li>Acordo de Paris - 2015</li>
        <li>Agenda 2030 da ONU</li>
        <li>Iniciativas de energias renováveis na Europa</li>
        <!-- Adicione mais iniciativas aqui -->
    </ul class="texto">
</div>
}
