@page
@model AquecimentoGlobalApp.Pages.Index1Model
@{
    ViewData["Title"] = "Propostas ";
}
<div class="menu">
    <h1 class="texto">Oque o mundo está fazendo para combater o aquecimento global?</h1>
    

    <ul>
        <p class="texto">As altas temperaturas observadas em diversas partes do planeta podem ficar ainda mais extremas, podendo chegar a quase 3 graus Celsius (ºC) acima da temperatura observada no período pré-industrial.</p>

<p class="texto">De acordo com o Relatório Anual de Lacuna de Emissões 2023, do Programa das Nações Unidas para o Meio Ambiente (Pnuma), as metas previstas no Acordo de Paris estão cada vez mais difíceis de serem alcançadas.</p>

<p class="texto">Para se atingir o limite de aquecimento do planeta em 1,5ºC, conforme prevê o Acordo de Paris, acordo, seria necessário reduzir em 42% as emissões de gases de efeito estufa até o ano de 2030. Se a redução for de 28%, o aquecimento global chegaria a 2ºC.</p>

<p class="texto">O problema, segundo os dados divulgados nesta segunda-feira (20), é que em vez de baixar, as emissões globais aumentaram 1,2% de 2021 a 2022, “atingindo um novo recorde de 57,4 gigatoneladas de Dióxido de Carbono”. Cada gigatonelada equivale a 1 bilhão de toneladas.</p>

<p class="texto">A Organização das Nações Unidas (ONU) lembra que até o início de outubro de 2023, foram registrados 86 dias com temperaturas 1,5°C acima dos níveis pré-industriais e que setembro foi o mês mais quente já registrado, com temperaturas médias globais 1,8°C acima dos níveis pré-industriais.</p>
       
<p class="texto">
        Fonte:<a href="https://agenciabrasil.ebc.com.br/internacional/noticia/2023-11/onu-alerta-sobre-risco-de-aquecimento-global-chegar-3-graus"> Agencia Brasil EBC</a>
    </p>

<li>Agenda 2030 da ONU</li>
        <li>Iniciativas de energias renováveis na Europa</li>
        <!-- Adicione mais iniciativas aqui -->
    </ul>
</div>
}